@model ProductListViewModel

<h1>Admin Products</h1>
<hr />

<a href="/admin/products/addproduct" class="btn btn-primary btn-sm">Add Product</a>

<table class="table table-bordered">

    <thead>

        <tr>

            <td style="width:30px">Id</td>
            <td style="width:100px">Image</td>
            <td>Name</td>
            <td style="width:20px">Price</td>
            <td style="width:20px">Home Page</td>
            <td style="width:20px">Is Approve</td>
            <td style="width:150px"></td>

        </tr>

    </thead>

    <tbody>

        @if (Model.Products.Count > 0)
        {
            @foreach (var product in Model.Products)
            {
                <tr>

                    <td>@product.ProductId</td>
                    <td><img src="~/img/@product.ImageUrl" width="80"></td>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                    <td>
                        @if (@product.IsHome)
                        {
                            <i class="fas fa-check-circle"></i>
                        }
                        else
                        {
                            <i class="fas fa-times-circle"></i>
                        }
                    </td>
                    <td>
                        @if (@product.IsApproved)
                        {
                            <i class="fas fa-check-circle"></i>
                        }
                        else
                        {
                            <i class="fas fa-times-circle"></i>
                        }
                    </td>
                    <td>
                        <a href="/admin/products/@product.ProductId" class="btn btn-primary btn-sm mr-2">Edit</a>
                        <form action="/admin/deleteproduct" method="post" style="display:inline">
                            <input type="hidden" name="productId" value="@product.ProductId">
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>

                    </td>

                </tr>
            }
        }
        else
        {
            <div class="alert alert-warning">
                <h3>No Products</h3>
            </div>
        }

    </tbody>

</table>